<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kamaz web commerce platform</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.kamazoun.service.DatabaseInitializor</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Business Administrators</web-resource-name>
      <description> 
                Resources accessible only to administrators. 
            </description>
      <url-pattern>/administrators/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Business Sellers</web-resource-name>
      <description> 
                Resources accessible only to administrators and sellers. 
            </description>
      <url-pattern>/sellers/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>seller</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login/form.jsp</form-login-page>
      <form-error-page>/login/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>A restricted-access user role</description>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <description>A restricted-access user role</description>
    <role-name>seller</role-name>
  </security-role>
  <security-role>
    <description>A restricted-access user role</description>
    <role-name>buyer</role-name>
  </security-role>
</web-app>